<!-- 
	http://www.html5rocks.com/en/tutorials/webcomponents/imports/
	Want to see about compartmentalizing sections of HTML
-->

<nav>
	<div id="header" class="heading text-center true-center text-header"></div>
	<div id="nav" class="nav">
		<a class="btn gimme-space" href="/index.html">Home</a>
		<a class="btn gimme-space" href="/Loading/loading.html">Loading Animations</a>
		<a class="btn gimme-space" href="/Loading/loading2.html">Loading Animations 2</a>
		<a class="btn gimme-space" href="/FancySudoButton/fancybutton.html">Fancy Buttons</a>
	</div>
</nav>